@using BootApp.Models
@model BootApp.Models.ListsOfStuff

@{
    ViewBag.Title = "SearchOnScholar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .container {
        font-size: medium;
    }

    textarea {
        resize: none;
    }
</style>
<br>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form class="form-horizontal" method="post">
                <div class="input-group">
                    <input type="text" id="Query" name="Query" class="form-control" placeholder="Поиск на Google.Scholar">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Поиск</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    @if (Model.ScholarArt.Count != 0)
    {
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <h3>Список статей</h3>
            </div>
        </div>
        //foreach (var art in Model.ScholarArt)
        for (int i = 0; i < Model.ScholarArt.Count; i++)
        {
            var art = Model.ScholarArt.ElementAt(i);

            using (Html.BeginForm("AddArticle", "Scholar", FormMethod.Post))
            {
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">@art.Title</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item">@art.Info</li>
                            <li class="list-group-item">@art.Citiations</li>
                            <a class="list-group-item" name="@art.Reference" href="@art.Reference">@art.Reference</a>
                            <input type="text" name="title" value="@art.Title" hidden="true" />
                            <input type="text" name="info" value="@art.Info" hidden="true" />
                            <input type="text" name="reference" value="@art.Reference" hidden="true" />
                            <input type="submit" value="Добавить статью"/>
                        </ul>
                    </div>
                </div>
            }
    }
    }

</div>