@model BootApp.Models.ListsOfStuff
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br>
<br>

@if (Request.IsAuthenticated)
{
    if (Model.wrongFile || Model.wrongDate) { 
    <div class="container">
        <div class="row"> <div class="col-md-6"><h2>Здравствуйте, @User.Identity.Name! </h2> </div></div>
        <div class="row">
            <div class="col-md-6">
                <h3>Загрузка файла</h3>
                
                     @using (Html.BeginForm("", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                     { 
                    <!--<form class="form-horizontal" method="post">-->
                          
                        <select class="form-control" name="TypeT" id="TypeT">
                            @foreach (var t in Model.TypesOfArticle()) {
                            <option value="@t">@t</option>
                            }
                        </select>
                         <br />
                        <input type="text" name="ArticleName" class="form-control" placeholder="Название" value="@Model.ArticleName"/> <br />
                        <input type="text" name="Author" class="form-control" placeholder="Автор" value="@Model.Author"/><br/>
                        <input type="text" name="TagList" class="form-control" placeholder="Список тэгов" value="@Model.TagList"/><br />
                         if (Model.wrongDate)
                         {
                            <input type="text" name="Year" class="form-control alert-danger" placeholder="Год издания" /><br />
                         }
                         else
                         {
                            <input type="text" name="Year" class="form-control" placeholder="Год издания" value="@Model.Year" />  <br />
                         }
                         //if (Request.Form["TypeT"].ToString() == "Книга")

                        <input type="text" id="Publisher" name="Publisher" class="form-control" placeholder="Издатель" value="@Model.Publisher" />  <br />

                         //else if (Request.Form["TypeT"].ToString() == "Статья")

                        <input type="text" id="Journal" name="Journal" class="form-control" placeholder="Название журнала" value="@Model.Journal" />  <br />
                         <select class="form-control" name="GroupT" id="GroupT">
                             <option value="0">Добавить статью в группу</option>
                             <option value="0">None</option>
                             @foreach (var g in Model.GroupsByUserName(User.Identity.Name))
                             {
                                 <option value="@g.GroupId">@g.GroupName</option>
                             } 
                         </select> <br />
                         <textarea name="Note" class="form-control" placeholder="Описание"> @Model.Note </textarea><br />
                         if (Model.wrongFile)
                         {
                             <p class="alert-danger">Неверный формат файла. Поддерживается только pdf.</p>
                             <input class="btn" type="file" name="fileUpload" /><br />
                         }
                         else
                         {
                            <input class="btn" type="file" name="fileUpload" /><br />
                         }

                        <button class="btn btn-primary" type="submit" name="Submit" id="SubmitSingle" value="Upload" >
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                            Загрузить
                        </button>
                    
                     }
            </div>
        </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row"> <div class="col-md-6"><h2>Здравствуйте, @User.Identity.Name! </h2> </div></div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Загрузка файла</h3>

                    @using (Html.BeginForm("", "home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                    <!--<form class="form-horizontal" method="post">-->

                        <select class="form-control" name="TypeT" id="TypeT">
                            @foreach (var t in Model.TypesOfArticle())
                            {
                                <option value="@t">@t</option>
                            }
                        </select>
                        <br />
                        <input type="text" name="ArticleName" class="form-control" placeholder="Название" /> <br />
                        <input type="text" name="Author" class="form-control" placeholder="Автор" /><br />
                        <input type="text" name="TagList" class="form-control" placeholder="Список тэгов" /><br />
                            <input type="text" name="Year" class="form-control" placeholder="Год издания" /><br />
                        //if (Request.Form["TypeT"].ToString() == "Книга")

                        <input type="text" id="Publisher" name="Publisher" class="form-control" placeholder="Издатель" /><br />

                        //else if (Request.Form["TypeT"].ToString() == "Статья")

                        <input type="text" id="Journal" name="Journal" class="form-control" placeholder="Название журнала" /><br />
                        <select class="form-control" name="GroupT" id="GroupT">
                            <option value="0">Добавить статью в группу</option>
                            <option value="0">None</option>
                            @foreach (var g in Model.GroupsByUserName(User.Identity.Name))
                            {
                                <option value="@g.GroupId">@g.GroupName</option>
                            }
                        </select> <br />
                        <textarea name="Note" class="form-control" placeholder="Описание"></textarea><br />
                            <input class="btn" type="file" name="fileUpload" /><br />

                        <button class="btn btn-primary" type="submit" name="Submit" id="SubmitSingle" value="Upload">
                            <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                            Загрузить
                        </button>

                    }
                </div>
            </div>
        </div>
    }

}
else
{
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-3"><button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href='/Account/SignIn'">Зарегистрироваться</button></div>
            <div class="col-md-2"></div>
            <div class="col-md-3"><button class="btn btn-lg btn-primary btn-block" type="submit" onclick="location.href='/Account/LogIn'">Войти</button></div>
            <div class="row">
                <div class="col-md-8 col-lg-offset-2"><button class="btn btn-lg btn-warning btn-block" type="submit" onclick="location.href = '/Scholar/GetScholarPage'">Scholar</button></div>
            </div>
        </div>
    </div>
}
