@model List<BibliographicSystem.Models.MicrosoftAcademicArticle>
@Html.ValidationMessage("Empty list")

@if (Model.Count != 0)
{
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <h3>Список статей</h3>
        </div>
    </div>
}

<div class="panel-group" id="accordion">
    @for (int i = 0; i < Model.Count; ++i)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    @{ 
                        string href = "#collapse" + i.ToString();
                    }
                    <a data-toggle="collapse" data-parent="#accordion" href="@href">
                        @Model[i].PaperTitle
                    </a>
                </h4>
            </div>

            @{
                string collapseId = "collapse" + i.ToString();
            }

            <div id="@collapseId" class="panel-collapse collapse in">
                <ul class="list-group">
                    <li class="list-group-item">@Model[i].CitationCount</li>
                    <li class="list-group-item">@Model[i].PaperYear</li>
                </ul>
                <div class="panel-footer">Footer</div>
            </div>
        </div>
    }
</div> 




<!--{
    {
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">art.PaperTitle</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>

                </ul>
            </div>
        </div>
    }
}
    -->
