@model BibliographicSystem.Models.Article

@{
    ViewBag.Title = "CorrectArticle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
@if (Request.IsAuthenticated)
{
    string s = "";
    foreach (var t in Model.Tags) { s = s + t.TagName + " "; }

<div class="container">
    <div class="row">
        <h2>Редактирование описания</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" method="post">
                <textarea class="sr-only" name="ArticleId">@Model.ArticleId</textarea>
                <input type="text" name="ArticleName" class="form-control" placeholder="Название" value="@Model.title"/> <br />
                <input type="text" name="Author" class="form-control" placeholder="Автор" value="@Model.author" /><br />
                <input type="text" name="TagList" class="form-control" placeholder="Список тэгов" value="@s" /><br />
                <input type="text" name="Year" class="form-control" placeholder="Год издания" value="@Model.year" /><br />
                @if (Model.journal == "")
                {
                    <input type="text" id="Publisher" name="Publisher" class="form-control" placeholder="Издатель" value="@Model.publisher"/><br />
                }
                @if (Model.publisher == "")
                {
                    <input type="text" id="Journal" name="Journal" class="form-control" placeholder="Название журнала" value="@Model.journal" /><br />
                }
                <textarea name="Note" class="form-control" placeholder="Описание" >@Model.note</textarea><br />
                <button class="btn btn-primary" type="submit">Обновить</button>
            </form>
        </div>
    </div>
</div>
}
